body {
	background: #000;
}

#tetris {
	background: #333;
}

#canvas {
	background-size:cover;
	box-shadow: 0px 0px 15px #222;
}

#menu p, #menu p a {
	color: #999;
}

#upcoming {
	background: #000;
}